Задание 1. Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
data_5 = ratings[ratings.rating == 5.0]
data_5.groupby('movieId').count().sort_values('rating', ascending = False).head(1)

         userId  rating  timestamp
movieId
318       39553   39553      39553

In [4]:
top_movie = pd.read_csv('movies.csv')

In [5]:
top_movie[top_movie.movieId == 318].title

314    Shawshank Redemption, The (1994)
Name: title, dtype: object

Задание 3. Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
pd.read_html('https://fortrader.org/quotes', encoding = 'utf-8')[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,66.67,-2.18,-3.17,NaN
1,Нефть WTI Цены на нефть WTI,63.87,-1.64,-2.50,NaN
2,Природный газ Цена на природный газ,2.90,-0.07,-2.49,NaN
3,Кофе,145.00,0.00,0.00,NaN
4,Кукуруза,657.00,12.40,1.92,NaN
5,Соя,399.00,-20.90,-4.98,NaN
6,Хлопок,82.43,0.00,0.00,NaN

Задание 2. По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
ds = pd.read_csv('power.csv')

In [15]:
ds_1 = ds[(ds['category'].isin([4,12,21]))]
ds_2 = ds_1[(ds_1['country'].isin(['Latvia', 'Lithuania', 'Estonia']))]
ds_3 = ds_2[(ds_2['year'] >= 2005) & (ds_2['year'] <= 2010)]
ds_4 = ds_3[(ds_3['quantity'] > 0)]
summ = ds_4['quantity'].sum()
print(f'Суммарное потребление стран Прибалтики составляет {summ}')

Суммарное потребление стран Прибалтики составляет 240580.0